html body {
    background-color: black;
    color: white;
    width: auto;
    padding: 1%;
}

.arena{
   display: flex;
   padding: 2%;
   justify-content: space-around;
}

.select{
    display: flex;
    padding: 2%;
    justify-content: space-around;
}

.intro{
    justify-content: center;
    display:flex;
}
#play{
    text-align: center;
}

#vs{
    width:100px;
    height: 75px;
}

#win{
    width :200px;
    height: 150px;
    display: none;
}

#lose{
    width:200px;
    height: 150px;
    display: none;
}
#tied{
    width:200px;
    height: 150px;
    display: none;
}

.choices {
    height: 250px;
}

@media only screen and (max-width: 600px) {
    body {
      margin-left: 5%;
    }
  }